

header {
    background: #222222;
    color: #fff;
    padding: 1.5%;
}
.content-data {
    margin-top: 4%;
    margin-bottom: 2%;
}
.cont-btn img {
    width: 120px;
}
.content-rosa {
    background: #D9534F;
}